.about {
    padding: 4%;
}

.about h2 {
    font-size: 42px;
    margin: 2% 0 4%;
    padding-left: 2%;
    border-left: 2px solid rgb(123,51,65);
}

.about h2 span {
    /* color: rgb(123,51,65);
    font-size: 56px; */
}

.about-wrapper {

}

.about-img {
    width: 100%;
    object-fit: cover;
}

.about-text {

}

.about-name {
    background-color: rgb(247,227,225);
    display: block;
    margin: 2% auto 0;
    padding: 2%;
    border-radius: 2px;
}

.about-name h3 {
    text-align: center;
    margin: 0;
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: normal;
}

.about-name p {
    font-size: 14px;
    letter-spacing: 1px;
}

.born {
    /* background-color: rgb(123,51,65);
    display: block;
    padding: 2%;
    margin: 0 auto 4%;
    width: 60%;
    border-radius: 2px; */
}

.born p {
    font-size: 16px;
}

.career {
    border: 1px solid #111;
    padding: 4%;
    margin: 6% 0;
    border-radius: 12px;
}

.career p {
    font-size: 16px;
    
}





@media (min-width: 960px) {


.about-wrapper {
    display: flex;
    flex-direction: row;
}

.about-wrapper img {
    width: 50%;
    height: 520px;
}

.about-text {
    width: 50%;
    padding: 0 2%;
}

.about-text p {
    text-align: center;
}

.about-name {
    padding: 4%;
}

}