.work {
    padding: 4%;
}

.work h2 {
    font-size: 42px;
    margin: 2% 0 4%;
    padding-left: 2%;
    border-left: 2px solid rgb(123,51,65);
}

.work-set {
    font-size: 14px;
    margin: 6% 0 4%;
}

.work-wrapper {
    
}

.work-history {
    margin: 2% 0;
}

.work-history a {
    display: flex;
    flex-direction: row;
}

.work-history h3 {
    background-color: #fff;
    color: #111;
    writing-mode: vertical-rl;
    margin: 0;
    width: 15%;
    font-size: 32px;
    padding-top: 5%;
}

.work-history img {
    width: 85%;
}

.work-about {
    background-color: rgb(247,227,225);
    border-radius: 4px;
    margin: 4% 0;
    padding: 4%;
}

.work-about p {
    line-height: 2;;
}





@media (min-width: 960px) {

.work-set {
    /* padding: 2%;
    display: inline-block; */
    margin: 0 0 6%;
}

.work-set p {
    font-size: 16px;
}

.work-set br {
    display: none;
}

.work-wrapper {
    
}

.work-history {
    
    display: block;
}

.work-history h3 {
    font-size: 72px;
    padding: 4% 6% 0 0;
    border-left: 1px solid #111;
}

.work-history img {
    height: 520px;
    object-fit: cover;
}

.work-about {
    text-align: center;
    padding: 1%
}

.work-about p {
    letter-spacing: 2px;  
    line-height: 2;
}

}